<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <listeners>
        <listener class-name="Listeners.TestListener"/>
    </listeners>

    <parameter name="browser" value="chrome"/>

    <test name="Test" thread-count="5">

        <classes>
            <class name="Tests.SignUpTest"/>
            <class name="Tests.LoginTest"/>
            <class name="Tests.HomePageTest"/>

        </classes>

    </test>

</suite>